.navbar{
    height: 28px;
    background-color: rgb(255, 255, 255);
    list-style: none;
    display: flex;
    flex-flow: column wrap;
    border: 1px solid #e2e2e2fb;
    
}

aside{
    background-color: rgb(255, 255, 255);
    list-style: none;
    border: 2px solid #acacac;
}

main{
    background-color: white;
    width: 100px;

    border: 2px solid #3333332d;
    
}

footer{

    text-align: center;
}

footer a{
    color: rgb(255, 0, 0);
}

.form-submit-button {
    background: #0066A2;
    color: white;
    border-style: outset;
    border-color: #0066A2;
    height: 50px;
    width: 100px;
    font: bold15px arial,sans-serif;
    text-shadow: none;
    }

.save{
    background-color: blue;
    color: white;
    border-radius: 7px;
    width: 100px;
    height: 30px;
}
@media all and (min-width:768px){

    #container{
        display: flex;

    }

    main{
        flex:75%
    }

    aside{
        flex: 25%;
    }
}
